.Input {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(23, 34, 45, 1);
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline: none;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 1) inset !important;
}

.Error {
  background-color: rgba(237, 133, 133, 0.8);
  border-color: rgb(235, 62, 62);
  /* box-shadow: 0 0 0 30px rgba(237, 133, 133, 0.8) inset !important; */
}

/* .Error::placeholder {
  color: #eee;
} */
